<aside id="filter">
    <div class="primer_seccion">
        <h3 class="primer__titulo">Filtra por:</h3>
        <input type="search" name="city" placeholder="Ciudad" class="buscar_ciudad">
        <button class="buscar-button">Buscar</button>
    </div>

    <div class="segunda_seccion">

        <label for="precioDesde">Precio desde (COP):</label>
        <input type="search" name="precioDesde" placeholder="Desde" class="buscar_ciudad">
        <label for="precioHasta">Precio hasta (COP):</label>
        <input type="search" name="precioHasta" placeholder="Hasta" class="buscar_ciudad">
        <button class="filtrar-precio">Aplicar filtro</button>

    </div>
    <div>


    </div>

</aside>